:host {
    display: block;
    position: relative;
    background-color: white;
    padding: 5px;
    width: 100%;
}

form {
	width: 16%;
	border: solid thin rgb(134, 178, 203);
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0 10px rgb(134, 178, 203);
}

form label {
    color: rgb(54, 90, 104);
    font-family: sans-serif;
    font-size: 14px;
    width: 70px;
    display: inline-block;
}

form fieldset {
	border: none;
}

form fieldset:last-child {
	text-align: right;
	margin-right: 43px;
}

form fieldset div#msg {
    color: white;
    background-color: rgba(255, 74, 0, 0.85);
    padding: 4px 9px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    display: none;
}

form fieldset input[type='user'], form fieldset input[type='password'] {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 5px;
	font-size: 0.9em;
}

form fieldset input[type="submit"] {
	background-color: rgb(93, 172, 242);
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

form fieldset button[type="submit"] {
	background-color: rgb(93, 172, 242);
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

form fieldset div.status {
	display: none;
	width: 20px;
	height: 20px;
}

form fieldset div.status.valid {
	display: inline-block;
	background-image: url("../images/valid.png");
}

form fieldset div.status.invalid {
	display: inline-block;
	background-image: url("../images/invalid.png");
}
