<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<!-- <link rel="import" href="../../login-form/login-form.html"> -->

<dom-module id="mi-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <p>
      Login
      <input type="text" placeholder="[[prop2]]" value="{{prop2::input}}" />
    </p>
    <p>
      Password
      <input type="password" placeholder="[[prop3]]" value="{{prop3::input}}" />
    </p>
    <button class="col-lg-4 col-xs-12 btn btn-danger">Registrar</button>
    <button on-click='doLogin' class="col-lg-4 col-xs-12 btn btn-danger">Acceder</button>

    <link rel="stylesheet" href="../login-form/css/login-form.css">
    <form id="form" method="post" >
      <fieldset>
        <div id="msg">Mi banco</div>
      </fieldset>
      <fieldset name="user">
        <label for="user">Usuario</label>
        <input type="user" name="user" id="user" placeholder="[[prop2]]" value="{{prop2::input}}">
        <div id="user_status"></div>
      </fieldset>

      <fieldset name="password">
        <label for="password">Password</label>
        <input type="password" name="password"  id="password" value="{{prop3::input}}">
        <div id="password_status"></div>
      </fieldset>

      <fieldset>
        <button on-click='doLogin' type="submit" id="submit">Registrar</button>
        <input type="submit" id="submit" value="Acceder">
    </fieldset>
  </form>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiLogin extends Polymer.Element {
      static get is() { return 'mi-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-login'
          },
          prop2: {
            type: String,
            value: 'Introduce tu login'
          },
          prop3: {
            type: String,
            value: 'Password'
          }
        };
      }
      doLogin()
      {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/login", false);

        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var user = {"login":this.prop2,"password":this.prop3};
        var body = JSON.stringify(user);
        request.send(body);
        this.respuesta = request.responseText;
        if(this.respuesta == "Login correcto"){
          // lanzamos el evento para cargar el siguiente componente
          console.log('Correcto');
          const detail = {result:'Login_OK', user:this.usuario};
          this.dispatchEvent(new CustomEvent('loginEvent', { detail }));
        }
        else{
          console.log("Incorrecto");
          this.mensaje = "Usuario y/o password incorrecto";
        }
      }
    }

    window.customElements.define(MiLogin.is, MiLogin);
  </script>
  <!-- <script type="text/javascript" src="js/login-form.js"></script> -->
</dom-module>
