<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <!-- <div class="circle">1</div> -->
      <h1 class="col-lg-12">Gestor de Cuentas [[cliente]]</h1>
      <div class="container">
      <div class="row">

      <!-- <button on-click="obtenercuentas" class="text-lg-center col-lg-4 col-xs-12" type="button">Global position</button> -->
      </div>
      <div class="row">
      <table class="table table-striped" hidden$="{{noCargados}}">
        <thead>
            <th>Num. Cuenta</th>
            <th>Alias</th>
            <th>Movimientos</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>
                [[item.idCuenta]]
              </td>
              <td>
                [[item.descCuenta]]
              </td>
              <td>
                <button on-click="movscuenta">Ver movimientos</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      </div>

      <div class="row" hidden$="{{noCargadosMovs}}">

        <h1 class="col-lg-12">Movimientos cuenta [[cuenta]]</h1>

      </div>


      <div class="row">
      <table class="table table-striped" hidden$="{{noCargadosMovs}}">
        <thead>
            <th>Id</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Importe</th>
        </thead>
          <tbody>
            <template is="dom-repeat" items="{{movs}}">
              <tr>
                <td>
                  [[item.idMovimiento]]
                </td>
                <td>
                  [[item.desMovimiento]]
                </td>
                <td>
                  [[item.fechaMovimiento]]
                </td>
                <td>
                  [[item.importe]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        </div>

      </div>
    </div>
  </template>

  <script>
    class MyCuentas extends Polymer.Element {
      static get is() { return 'my-cuentas'; }
      static get properties() {
        return {
          cuentas: {
            type: Array,
            notify: true
          },
          movs: {
            type: Array,
            notify: true
          },
          cliente: {
            type: String,
            value: "tvallem"
          },
          cuenta: {
            type: Number,
            value: 452105
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          noCargadosMovs: {
            type: Boolean,
            value: true
          }
        };
      }

      ready() {
        super.ready();
        this.obtenercuentas();
        this.cliente = localStorage.getItem('login');
      }

      obtenercuentas() {
        console.log("obtenerCuentas");
        var client = localStorage.getItem('login');
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/cuentasUsuarioOK/"+client, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cuentas = JSON.parse(request.responseText);
        console.log(this.cuentas);
        this.noCargados = false;
      }

      movscuenta(e) {
        var request = new XMLHttpRequest();
        console.log ("Obtener movimientos Cuentas");
        console.log (e.model.__data.item.idCuenta);
        var cuenta = e.model.__data.item.idCuenta;
        request.open("GET", "http://localhost:3000/movimientosMongo/"+cuenta, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movs = JSON.parse(request.responseText);
        console.log(this.movs);
        this.noCargadosMovs = false;
      }
    }

    window.customElements.define(MyCuentas.is, MyCuentas);
  </script>
</dom-module>
