<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="my-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-map {
        height: 400px;
        margin: 0;
        padding: 10px;
      }
    </style>

    <div class="card">
      <!-- <div class="circle">1</div> -->
      <h1 class="col-lg-12">Últimos movimientos [[idCliente]]</h1>
      <div class="container">
      <div class="row">

      <!-- <button on-click="ultimosmovimientos" class="text-lg-center col-lg-4 col-xs-12" type="button">Global position</button> -->
    </div>
    <div class="row">
    <table class="table table-striped" hidden$="{{noCargados}}">
      <thead>
          <th>Id</th>
          <th>Tipo</th>
          <th>Fecha</th>
          <th>Importe</th>
      </thead>
        <tbody>
          <template is="dom-repeat" items="{{movs}}">
            <tr>
              <td>
                [[item.idMovimiento]]
              </td>
              <td>
                [[item.desMovimiento]]
              </td>
              <td>
                [[item.fechaMovimiento]]
              </td>
              <td>
                [[item.importe]]
              </td>
              <td>
                <button on-click="posicionar">Posicionar</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      </div>

      </div>
    </div>

    <div class="card" hidden$="{{noGeo}}">
      <!-- <button id="btn"on-click="volver" class="forgot-password">Volver</button> -->
      <h1 class="col-lg-12">Localización del movimiento</h1><br><br>
        <!-- <google-map zoom=5 latitude=[[latitud]] longitude=[[longitud]] fit-to-markers api-key="AIzaSyAkmNOETgpe-XjySbT6ApekflUba92fiow"> -->
        <google-map zoom=8 latitude=[[latitud]] longitude=[[longitud]] fit-to-markers api-key="AIzaSyDxaZa8gnXIlL8Hbmgm81jJztUhIR8IsU0">
          <google-map-marker latitude=[[latitud]] longitude=[[longitud]] draggable="false"></google-map-marker>
        </google-map>
    </div>

      <div class="card">
        <h1 class="col-lg-12">Alta nuevo movimiento [[idCliente]]</h1>
        <div class="container">
        <div class="row">
          <p>
            Cuenta
            <input type="text" placeholder="[[idCuenta]]" value="{{idCuenta::input}}" />
          </p>
          <p>
            Movimiento
            <input type="text" placeholder="[[idMovimiento]]" value="{{idMovimiento::input}}" />
          </p>
          <p>
            Tipo Movimiento
            <input type="text" placeholder="[[desMovimiento]]" value="{{desMovimiento::input}}" />
          </p>
          <p>
            Importe
            <input type="text" placeholder="[[importe]]" value="{{importe::input}}" />
          </p>
          <p>
            Fecha movimiento
            <input type="text" placeholder="[[fechaMovimiento]]" value="{{fechaMovimiento::input}}" />
          </p>
          <p>
            Hora movimiento
            <input type="text" placeholder="[[horaMovimiento]]" value="{{horaMovimiento::input}}" />
          </p>
          <p>
            Latitud
            <input type="text" placeholder="[[latitud]]" value="{{latitud::input}}" />
          </p>
          <p>
            Longitud
            <input type="text" placeholder="[[longitud]]" value="{{longitud::input}}" />
          </p>
        </div>
        <div class="row">
          <button on-click='altamovimiento' class="col-lg-4 col-xs-12">Alta movimiento</button>
        </div>
        </div>
      </div>

  </template>

  <script>
    class MyMovimientos extends Polymer.Element {
      static get is() { return 'my-movimientos'; }
      static get properties() {
        return {
          movs: {
            type: Array,
            notify: true
          },
          idCliente: {
            type: String
          },
          idCuenta: {
            type: Number,
            value: 452105
          },
          idMovimiento: {
            type: Number,
            value: 11625368
          },
          desMovimiento: {
            type: String,
            value: "Restaurant"
          },
          importe: {
            type: Number
          },
          fechaMovimiento: {
            type: String,
            value: "2018-01-17"
          },
          horaMovimiento: {
            type: String,
            value: "15:17:32"
          },
          latitud: {
            type: Number,
            value: 40.4167
          },
          longitud: {
            type: Number,
            value: -3.70325
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          noGeo: {
            type: Boolean,
            value: true
          }
        };
      }

      ready() {
        super.ready();
        this.ultimosmovimientos();
        this.idCliente = localStorage.getItem('login');
      }

      ultimosmovimientos() {
        console.log("ultimosMovimientos");
        var client = localStorage.getItem('login');
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/ultimosMovimientos/"+client, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movs = JSON.parse(request.responseText);
        console.log(this.movs);
        this.noCargados = false;
      }

      altamovimiento() {
        console.log("Alta de movimiento");
        var client = localStorage.getItem('login');
        var nuevoMovimiento = {
          idCliente : client,
          idCuenta : this.idCuenta,
          idMovimiento : this.idMovimiento,
          desMovimiento : this.desMovimiento,
          importe : this.importe,
          fechaMovimiento : this.fechaMovimiento,
          horaMovimiento : this.horaMovimiento,
          latitud : this.latitud,
          longitud : this.longitud
        };
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/movimientoMongo", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var body = JSON.stringify(nuevoMovimiento);
        request.send(body);
        console.log(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        alert("Alta movimiento correctamenta!");
      }

      posicionar(e) {
        console.log ("Posicionar movimiento");
        console.log (e.model.__data.item.latitud);
        console.log (e.model.__data.item.longitud);
        var latitud = e.model.__data.item.latitud;
        var longitud = e.model.__data.item.longitud;
        console.log(latitud);
        console.log(longitud);
        this.latitud = latitud;
        this.longitud = longitud;
        this.noGeo = false;
      }

    }

    window.customElements.define(MyMovimientos.is, MyMovimientos);
  </script>
</dom-module>
