<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-posicionglobal">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <!-- <div class="circle">1</div> -->
      <h1 class="col-lg-12">Posición global [[cliente]]</h1>
      <div class="container">
      <div class="row">

      <!-- <button on-click="obtenerposicionglobal" class="text-lg-center col-lg-4 col-xs-12" type="button">Global position</button> -->
      </div>
      <div class="row">
      <table class="table table-striped" hidden$="{{noCargados}}">
        <thead>
            <th>Num. Cuenta</th>
            <th>Alias</th>
            <th>Saldo</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>
                [[item.idCuenta]]
              </td>
              <td>
                [[item.descCuenta]]
              </td>
              <td>
                [[item.balance]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      </div>

      </div>
    </div>
  </template>

  <script>
    class MyPosicionglobal extends Polymer.Element {
      static get is() { return 'my-posicionglobal'; }
      static get properties() {
        return {
          cuentas: {
            type: Array,
            notify: true
          },
          cliente: {
            type: String
          },
          noCargados: {
            type: Boolean,
            value: true
          }
        };
      }

      ready() {
        super.ready();
        this.obtenerposicionglobal();
        this.cliente = localStorage.getItem('login');
      }

      obtenerposicionglobal() {
        console.log("obtenerPosicionGlobal");
        var client = localStorage.getItem('login');
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/cuentasUsuarioOK/"+client, false);
        //request.open("GET", "http://localhost:3000/movimientosMongo", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cuentas = JSON.parse(request.responseText);
        console.log(this.cuentas);
        this.noCargados = false;
      }
    }

    window.customElements.define(MyPosicionglobal.is, MyPosicionglobal);
  </script>
</dom-module>
